.container {
  background-image: url("background1.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#title {
  font-size: 50px;
  margin: 30px;
  text-shadow: 3px 3px 3px rgb(162, 162, 162);
}

.about {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-between;
}

.team {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.teammembers {
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  list-style: none;
  text-align: right;
}
