.container {
  background-color: rgb(255, 92, 77);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fcb27b'/%3E%3Cstop offset='1' stop-color='%23fcb27b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffad2d'/%3E%3Cstop offset='1' stop-color='%23ffad2d' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff594'/%3E%3Cstop offset='1' stop-color='%23fff594' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF5C4D'/%3E%3Cstop offset='1' stop-color='%23FF5C4D' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFF1D7'/%3E%3Cstop offset='1' stop-color='%23FFF1D7' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FCFF46'/%3E%3Cstop offset='1' stop-color='%23FCFF46' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

#title {
  font-size: 50px;
  font-weight: 700;
  padding-top: 60px;
  text-shadow: 3px 3px 4px rgb(162, 162, 162);
}

h1 {
  margin: 5% 0 2% 0;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 30pt;
  font-weight: 600;
  border: solid blanchedalmond 5pt;
  border-radius: 20px;
  margin: 5%;
  background-color: rgba(255, 235, 205, 0.5);
  padding: 5%;
}

.about li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.about div {
  margin-top: 20px;
}

.description {
  font-size: 20pt;
  font-weight: 400;
}

#desc1 {
  margin-left: 30%;
  margin-bottom: 100px;
}

#desc1 div {
  margin-right: 10%;
}

#desc2 {
  margin-right: 10%;
  margin-bottom: 100px;
}

#desc2 div {
  margin-left: 10%;
}

#desc3 {
  margin-left: 10%;
  margin-bottom: 100px;
}

#desc3 div {
  margin-right: 10%;
}

.team {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.teammembers {
  padding: 20px;
  margin: 20px 20px 20px 20px;
  font-size: 16pt;
  font-weight: 600;
  display: inline;
  flex-direction: column;
  list-style: none;
  text-align: right;
  border: solid rgba(255, 255, 255, 0.3) 3pt;
  border-radius: 10px;
}

.teammembers li {
  margin-bottom: 10px;
  font-size: 12pt;
  font-weight: 500;
}

.name {
  text-align: center;
  font-size: 30pt;
  font-weight: 600;
  display: block;
  background-color: rgba(245, 235, 220, 0.5);
  border: none;
  border-radius: 7px;
}

.partner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.partner img {
  margin: 2%;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 100px;
}

.contact a {
  margin: 0% 1% 0% 1%;
}
